body {
  font-family: 'Roboto', sans-serif;
  background-color: #061f49;
  color: #ffffff;
}

.app {
  margin: auto;
  width: 60%;
  height: auto;
  border: 4px solid #cbdad5;
  border-radius: 8px;
  padding: 60px;
  background-color: #2069e0;
}

h4 {
  font-size: 70px;
  float: left;
  margin-top: 15px;
  margin-bottom: 15px;
}

#addNewNote {
  color: #082c6c;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 15px;
  padding: 10px 20px;
  border-radius: 8px;
  float: right;
  width: 250px;
  display: flex;
  background-color: #f4d47c;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.fa-plus {
  color: #f4d47c;
  background-color: #082c6c;
  padding: 15px;
  border-radius: 3px;
}

.clear {
  clear: both;
}

h5 {
  font-size: 30px;
}

#notes {
  color: #34344e;
  display: grid;
  gap: 20px;
}

#notes div {
  display: grid;
  gap: 4px;
  color: #ffffff;
  background-color: #0b3681;
  border: 2px solid #f4d47c;
  padding: 25px;
  border-radius: 12px;
}

#notes div span {
  font-weight: bold;
  font-size: 20px;
}

#notes div span span {
  font-size: 15px;
}

.options {
  color: #f4d47c;
  justify-self: center;
  display: flex;
  gap: 50px;
}

.options i {
  cursor: pointer;
}
